<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!--hier moet de database worden gebouwd -->
    <!-- //TODO: DUs voor elke in de database jzOriginalSprite
        maak je een canvas en een img tag en een save en revert button 
    -->
    <% for(let i=0; i < info.length; i++) {%> 
    <section class="drawSection">
        <span><%= info[i].character %></span>
        <span><%= info[i].sprite %></span>
        <br>
        <img src= <%= info[i].dataURI %>  alt="">
        <canvas id=<%=info[i].sprite %> class="draw" width="500" height="500"></canvas>
        
        <!-- <canvas src=<%= info[i].dataURI %> id=<%=info[i].sprite %> class="draw" width="500" height="500"></canvas> -->
        <!-- <button id="saveDrawingBTN" name="head" >save</button> -->
        <!-- <button id="loadDrawingBTN">load</button> -->
        <!-- <button>save</button> -->
        <section class="buttons">
            <!-- <form action="/loadOriginalSprite" method="PUT">
                <input type="submit" value="Load Original Drawing" name=<%= info[i].sprite %>>
            </form> -->
            <button class="loadButton" name="<%= info[i].character %>" value=<%= info[i].sprite %>>load</button>
            <button class="saveButton" name="<%= info[i].character %>" id=<%= info[i].sprite %>>save</button>
            <!-- <form action="/saveSprite" method="POST">
                <span><%= info[i].character %></span>
                <span><%= info[i].sprite %></span>
                <span><%= info[i].dataURI %></span>
              <input type="submit" value="Save Drawing to Database">
            </form> -->
        </section>
        <!-- <button class="loadButton" action="/loadOriginalSprite" method="POST" name="GGGGG">load</button> -->
    </section>
    <% } %>
    <!-- <form action="/addRapper" method="POST">
        <input type="text" placeholder="Stage Name" name="stageName">
        <input type="text" placeholder="Birth Name" name="birthName">
        <input type="submit">
    </form> -->

    
    <!-- <img  id="displayDrawing" src="" alt=""> -->
    <!-- <canvas class="draw" width="500" height="500" name="clientDrawing" ></canvas> -->


    <script src='js/main.js'></script>
</body>
</html>
